* {
    margin: 0;
    padding: 0;
      }
    
     body, html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800; 
    background-color: #f9fafc;
    padding-left: 5px;
    font-size: 15px;
    }
    
    header nav a {
    color: #69696a;
    }
    
    a {
    text-decoration: none;
    padding: 10px;
    }
    
    h3 {
    padding: 20px 10px;
    }
    
    .header-border {
    border: 1px solid #000;
    background-color: #000;
    border-radius: 30px;
    color: #f9fafc;
    text-align: center;
    height: 30px;
    padding: 10px 90px;
    width: 45%;
    margin-top: 10px;
    }
    .footer-border {
    border: 1px solid #000;
    background-color: #000;
    color: #f9fafc;
    border-radius: 30px;
    position: fixed;
    width: 45px;
    height: 30px;
    padding: 10px 90px;
    margin: 35px 0;
    text-align: center;
    }
    
    h1 {
    font-size: 35px;
    padding-bottom: 20px;
    padding-top:30px;
    }
    
    .content {
    padding: 10px 10px;
    }
    .content p {
    padding-left: 20px;
    text-align: left;
    color: #69696a; 
    font-size: 16px;
    }
    
    .vertical_line {
    border-left: 5px solid #69696a;
    height: 155px; 
    margin-left: 5px;
    } 
    
    .nav li {
        display: inline-block;
        position: relative;
        left: 1150px;
        margin: 20px 10px; 
        font-size: 20px;
        list-style-type: none;
    }
    header nav a {
        color: #69696a;
        }
        
        a {
        text-decoration: none;
        padding: 10px;
        }
    
    a.border-link {
        border: 5px solid #000;
        background-color: #000;
        border-radius: 20px;
        color: #f9fafc;
        padding: 1px 25px;  
    }
       
    .header-border {
    border: 5px solid #000;
    background-color: #000;
    border-radius: 20px;
    color: #f9fafc;
    padding: 3px 10px;  
    }
    
    .right {
    position: relative;
    bottom: 95px;
    left: 40px;
    }
    
    .circle-pink {
    border: 1px solid rgba(247, 136, 167, 0.6);
    background-color: rgba(247, 136, 167, 0.6);
    height: 450px;
    width: 450px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    right: 300px;
    top: 300px; 
    }
    
    .circle-purple {
    border: 1px solid rgba(207, 130, 213, 0.6);
    background-color: rgba(207, 130, 213, 0.6);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: 200px;
    top: 300px; 
    }
    
    .circle-yellow {
    border: 1px solid rgba(247, 193, 162, 0.7);
    background-color: rgba(247, 193, 162, 0.7);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    right: 110px;
    top: 510px; 
    }
    
    h1 {
    margin: 220px 0 20px 5px;
    color: #000;
    }
    h3 {
    padding: 0 10px;
    }
    
    .content p {
    width: 37%;
    padding-left: 30px;
    color: #69696a; 
    line-height:1.5;
    font-size:19px;
     }
    
    .vertical_line {
    border-left: 2px solid #69696a;
    height: 200px; 
    } 
    
    .footer-border {
    border: 10px solid #000;
    background-color: #000;
    color:#f9fafc;
    position: fixed;
    height: 20px;
    width: 7%;
    bottom:0px;
    padding: 5px;
    right: 50%;
    font-size:12px;
    }
    }